<div class="accountProfile">
  <p class="accountProfile-title"><span>@mrjcr</span>نفرات برتر<img src="assets/resources/images/assets/png/arrowDown.png"/></p>
  <div class="accountProfile-yourScoreWrapper">
    <div class="accountProfile-yourScoreItem">
      <img src="resources/images/assets/png/icons8-up-filled-24.png" alt="">
      <img class="accountProfile-yourScoreItem-img" src="resources/images/pics/Details1.jpg"/>
      <div class="accountProfile-yourScoreItem-info">
        <p class="accountProfile-yourScoreItem-info-name">۱- الکساندر پوشکین</p>
        <p class="accountProfile-yourScoreItem-info-score"><img src="resources/images/assets/png/star.png"/> ۹</p>
      </div>
    </div>
    <div class="accountProfile-yourScoreItem">
      <img src="resources/images/assets/png/icons8-up-filled-24.png" alt="">
      <img class="accountProfile-yourScoreItem-img" src="resources/images/pics/Details2.jpg"/>
      <div class="accountProfile-yourScoreItem-info">
        <p class="accountProfile-yourScoreItem-info-name">۳- دیوید گیلمور</p>
        <p class="accountProfile-yourScoreItem-info-score"><img src="resources/images/assets/png/star.png"/> ۹</p>
      </div>
    </div>
    <div class="accountProfile-yourScoreItem accountProfile-yourScoreItem-active">
      <img src="resources/images/assets/png/icons8-down-arrow-filled-24.png" alt="">
      <img class="accountProfile-yourScoreItem-img" src="resources/images/pics/Details3.jpg"/>
      <div class="accountProfile-yourScoreItem-info">
        <p class="accountProfile-yourScoreItem-info-name">۳- دیوید گیلمور</p>
        <p class="accountProfile-yourScoreItem-info-score"><img src="resources/images/assets/png/star.png"/> ۹</p>
      </div>
    </div>
    <div class="accountProfile-yourScoreItem">
      <img src="resources/images/assets/png/icons8-down-arrow-filled-24.png" alt="">
      <img class="accountProfile-yourScoreItem-img" src="resources/images/pics/Details4.jpg"/>
      <div class="accountProfile-yourScoreItem-info">
        <p class="accountProfile-yourScoreItem-info-name">۳- دیوید گیلمور</p>
        <p class="accountProfile-yourScoreItem-info-score"><img src="resources/images/assets/png/star.png"/> ۹</p>
      </div>
    </div>
  </div>
</div>
