<div class="cart" (click)="RegisterAuctionSlideupClick()">
  <div class="registerAuction" [ngClass]="{'cfnAnimation-slideup': showRegisterAuction == true, 'cfnAnimation-slidedown': hideRegisterAuction == true}">
    <p class="registerAuctionTitle">
      ثبت نام در حراجی
      <img (click)="RegisterAuctionSlideDownClick($event)" class="registerAuctionTitle-arrowDown" src="../../assets/resources/images/assets/svg/arrowDown.svg" alt="">
    </p>
    <p class="registerAuctionParag">برای شرکت در حراجی بسته مورد نظر را انتخاب کنید.</p>
    <div class="registerAuction-item" *ngFor="let coin of auction?.coins">
      <div class="registerAuction-item-image">
         <img src="../../assets/resources/images/assets/png/coins.png" alt="">
      </div>
      <div class="registerAuction-item-info">
        <p><span>{{coin.bids}} سکه</span> ({{coin.price | currency : ' ' : 'symbol' : '1.0-0'}} تومان)</p>
        <p>{{coin.coinCount}} عدد پیشنهاد</p>
        <p>کوپن تخفیف {{coin.discountCoupon | currency : ' ' : 'symbol' : '1.0-0'}} تومانی</p>
      </div>
    </div>
    <div class="registerAuctionItem"></div>
    <div class="registerAuctionItem"></div>
  </div>
  <div class="cart-tag" *ngIf="auction.tag"></div>
  <span class="cart-tag-content" *ngIf="auction.tag">{{auction.tag}}</span>
  <div class="cart-share-fav">
      <div class="heart" [ngClass]="{'is_animating': toggleHeart || (toggleHeart && auction.liked)}" (click)="toggleClick($event,auction.auctionId)"></div>
      <img src="../../assets/resources/images/assets/png/share.png">
      <img *ngIf="auction.participated" class="cart-participated" src="../../assets/resources/images/assets/svg/tick.svg">
  </div>
  <img [src]="Link.product(auction.image)" alt="" class="cart-image">
  <p class="cart-title">{{auction.title}}</p>
  <div class="cart-off">
      <span class="cart-off-percent">٪{{auction.discount}}</span>
    <div class="cart-off-info">
        <p class="cart-off-after">شروع حراجی: {{auction.basePrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
        <p class="cart-off-before">سقف حراجی: {{auction.maxPrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان</p>
    </div>
  </div>
  <div class="cart-timer">
      <div class="cart-timer-part">
        <span class="cart-time">{{remainedTime.seconds}}</span>
        <span class="cart-time-text">ثانیه</span>
      </div>
      <div class="cart-timer-part">
          <span class="cart-time">{{remainedTime.minute}}</span>
          <span class="cart-time-text">دقیقه</span>
      </div>
      <div class="cart-timer-part">
          <span class="cart-time">{{remainedTime.hour}}</span>
          <span class="cart-time-text">ساعت</span>
      </div>
      <div class="cart-timer-part">
          <span class="cart-time">{{remainedTime.day}}</span>
          <span class="cart-time-text">روز</span>
      </div>
 </div>
 <div class="cart-footer">
   <div class="cart-footer-rank">
      <img src="../../assets/resources/images/assets/png/star.png">
      <span>{{auction.maxLevel}} / {{auction.level}}</span>
   </div>
   <div class="cart-footer-contributer" dir="ltr">
      <img *ngFor="let pic of auction.participants.icons" src="http://dev.unibid.ir/static/images/avatars/{{pic}}" alt="" class="">
     <span>شرکت کنندگان: {{auction.participants.count }} از {{auction.maxMembers}}</span>
   </div>
 </div>
</div>

<div class="cfnLoaderWrapper" *ngIf="loading">
  <div class="cfnLoader"></div>
</div>

<div class="cfnError" #errorMessage>
  <ng-template [ngIf]="errorObj">
    {{errorObj.error.message}}
</ng-template>
</div>
