<div class="accountProfile">
  <p class="accountProfile-title">اطلاعات حساب کاربری<img src="assets/resources/images/assets/png/001-down-arrow-copy-5.png"/></p>
  <div class="accountProfile-shippingSteps">
    <div>
      <div>
        <div class="accountProfile-shippingSteps-check accountProfile-shippingSteps-check-checked"></div>
        <span>سبد خرید</span>
      </div>
    </div>
    <div>
      <span class="accountProfile-shippingSteps-line"></span>

      <div>
        <div class="accountProfile-shippingSteps-check accountProfile-shippingSteps-check-checked"></div>
        <span>روش ارسال</span>
      </div>
    </div>
    <div>
      <span class="accountProfile-shippingSteps-line"></span>
      <div>
        <div class="accountProfile-shippingSteps-check"></div>
        <span>روش پرداخت</span>
      </div>
    </div>
  </div>
  <div class="accountProfile-priceWrapper">
    <div class="accountProfile-priceItem">
      <p class="accountProfile-priceItem-title">هدفون بی سیم بیتس مدل Studio</p>
      <p class="accountProfile-priceItem-before">قیمت: ۱۵۸,۰۰۰ تومان</p>
      <p class="accountProfile-priceItem-after">تخفیف: ۲۵,۰۰۰ تومان</p>
    </div>
    <div class="accountProfile-priceItem">
      <p class="accountProfile-priceItem-title">دوچرخه کوهستان کراس مدل 2019</p>
      <p class="accountProfile-priceItem-before">قیمت: ۲۰۰,۰۰۰ تومان</p>
      <p class="accountProfile-priceItem-after">تخفیف: ۹۰,۰۰۰ تومان</p>
    </div>
    <div class="accountProfile-priceTotal">
      <span>قیمت نهایی</span>
      <span>۳۵۸,۰۰۰,۰۰۰ تومان</span>
    </div>
  </div>
  <p class="accountProfile-footer-title">روش پرداخت</p>
  <a class="cfnButton cfnButton-empty">کیف پول<img src="resources/images/assets/png/arrowDown.png"/></a>
  <a style="width:160px;" class="cfnButton cfnButton-primary">پرداخت</a>
</div>
