<div class="cart">
  <div class="cart-share-fav">
      <img src="../../assets/resources/images/assets/svg/heart.svg">
      <img src="../../assets/resources/images/assets/png/share.png">
  </div>
  <img src="../../assets/resources/images/pics/pic7.jpg" alt="" class="cart-image">
  <p class="cart-title">لپ تاپ 15 اینچی اپل مدل MacBook</p>
  <div class="cart-off">
      <span class="cart-off-percent">٪۲۰</span>
    <div class="cart-off-info">
        <p class="cart-off-after">شروع حراجی: ۷,۵۰۰,۰۰۰ تومان</p>
        <p class="cart-off-before">سقف حراجی: ۱۲۰,۰۰۰,۰۰۰ تومان</p>
    </div>
  </div>
  <div class="cart-timer">
      <div class="cart-timer-part">
        <span class="cart-time">۵۴</span>
        <span class="cart-time-text">ثانیه</span>
      </div>
      <div class="cart-timer-part">
          <span class="cart-time">۲۶</span>
          <span class="cart-time-text">دقیقه</span>
      </div>
      <div class="cart-timer-part">
          <span class="cart-time">۱۶</span>
          <span class="cart-time-text">ساعت</span>
      </div>
      <div class="cart-timer-part">
          <span class="cart-time">۲</span>
          <span class="cart-time-text">روز</span>
      </div>
 </div>
 <div class="cart-footer">
   <div class="cart-footer-rank">
      <img src="../../assets/resources/images/assets/png/star.png">
      <span>۱۰ / ۴</span>
   </div>
   <div class="cart-footer-contributer" dir="ltr">
      <img src="../../assets/resources/images/pics/pic4.jpg" alt="" class="">
      <img src="../../assets/resources/images/pics/pic3.jpg" alt="" class="">
      <img src="../../assets/resources/images/pics/pic2.jpg" alt="" class="">
     <span>شرکت کنندگان: ۱۲ از ۳۲</span>
   </div>
 </div>
</div>