<div class="contributer-wrapper">
  <p class="contributer-title">شرکت کنندگان: <span>{{auction?.participants?.length}} / {{auction?.maxMembers}}</span></p>
  <div class="contributer-item-warpper">
    <div *ngFor="let participant of participants">
      <div class="contributer">
        <div class="contributer-image-wrapper">
          <img [src]="Link.avatar(participant.avatar)"/>
          <span class="contributer-badge">{{participant.row}}</span>
        </div>
        <p class="contributer-item-name">{{participant.name}}</p>
        <p class="contributer-item-follower">{{participant.bidPrice}}</p>
      </div>
    </div>

  </div>
</div>
