<div class="details-auction-wrapper">
        <div class="details-auction-right">
          <p class="details-auction-right-title">{{auction?.title}}</p>
          <div class="details-cart-off">
              <span class="details-cart-off-percent">٪{{auction?.discount}}</span>
            <div class="details-cart-off-info">
                <p class="details-cart-off-after">شروع حراجی : {{auction?.basePrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان </p>
                <p class="details-cart-off-before">سقف حراجی : {{auction?.maxPrice | currency : ' ' : 'symbol' : '1.0-0'}} تومان </p>
            </div>
          </div>
        </div>
        <div class="cart-timer">
            <div class="cart-timer-part">
              <span class="cart-time">{{remainedTime?.seconds}}</span>
              <span class="cart-time-text">ثانیه</span>
            </div>
            <div class="cart-timer-part">
                <span class="cart-time">{{remainedTime?.minute}}</span>
                <span class="cart-time-text">دقیقه</span>
            </div>
            <div class="cart-timer-part">
                <span class="cart-time">{{remainedTime?.hour}}</span>
                <span class="cart-time-text">ساعت</span>
            </div>
            <div class="cart-timer-part">
                <span class="cart-time">{{remainedTime?.day}}</span>
                <span class="cart-time-text">روز</span>
            </div>
          </div>
      </div>
      <div class="cart-timer-border"></div>
