<div class="details-auction-wrapper">
        <div class="details-auction-right">
          <p class="details-auction-right-title">لپ تاپ 13 اینچی اپل مدل MacBook Air </p>
          <div class="details-cart-off">
              <span class="details-cart-off-percent">٪۲۰</span>
            <div class="details-cart-off-info">
                <p class="details-cart-off-after">شروع حراجی: ۷,۵۰۰,۰۰۰ تومان</p>
                <p class="details-cart-off-before">سقف حراجی: ۱۲۰,۰۰۰,۰۰۰ تومان</p>
            </div>
          </div>
        </div>
        <div class="cart-timer">
          <div class="cart-timer-part">
            <span class="cart-time">۵۴</span>
            <span class="cart-time-text">ثانیه</span>
          </div>
          <div class="cart-timer-part">
              <span class="cart-time">۲۶</span>
              <span class="cart-time-text">دقیقه</span>
          </div>
          <div class="cart-timer-part">
              <span class="cart-time">۱۶</span>
              <span class="cart-time-text">ساعت</span>
          </div>
          <div class="cart-timer-part">
              <span class="cart-time">۲</span>
              <span class="cart-time-text">روز</span>
          </div>
     </div>
      </div>
      <div class="cart-timer-border"></div>
