<div class="accountProfile accountProfile-basket">
  <p class="accountProfile-title">سبد خرید<img src="assets/resources/images/assets/png/arrowDown.png"/></p>
  <div class="accountProfile-basketWrapper">
    <div class="accountProfile-priceItem-wrapper">
      <div class="accountProfile-basketImage-wrapper">
        <span class="accountProfile-basketImage-remove">&times;</span>
        <img src="resources/images/pics/product.jpg"/>
      </div>
      <div class="accountProfile-priceItem">
        <p class="accountProfile-priceItem-title">هدفون بی سیم بیتس مدل Studio</p>
        <p class="accountProfile-priceItem-before">قیمت: ۱۵۸,۰۰۰ تومان</p>
        <p class="accountProfile-priceItem-after">تخفیف: ۲۵,۰۰۰ تومان</p>
      </div>
    </div>
    <div class="accountProfile-priceItem-wrapper">
      <div class="accountProfile-basketImage-wrapper">
        <span class="accountProfile-basketImage-remove">&times;</span>
        <img src="resources/images/pics/product.jpg"/>
      </div>
      <div class="accountProfile-priceItem">
        <p class="accountProfile-priceItem-title">دوچرخه کوهستان کراس مدل 2019</p>
        <p class="accountProfile-priceItem-before">قیمت: ۲۰۰,۰۰۰ تومان</p>
        <p class="accountProfile-priceItem-after">تخفیف: ۹۰,۰۰۰ تومان</p>
      </div>
    </div>
  </div>
  <div class="accountProfile-basket-off">
    <span class="accountProfile-basket-offButton">اعمال</span>
    <input type="text" class="cfnText" placeholder="افزودن کد تخفیف">
  </div>
  <div class="accountProfile-priceTotal">
    <span>قیمت نهایی:</span>
    <span>۳۵۸,۰۰۰,۰۰۰ تومان</span>
  </div>
  <a style="width:160px;" class="cfnButton cfnButton-primary">پرداخت نهایی</a>
</div>
